.app {
  background-color: #efeff4;
  flex: 1;
  align-items: center;
}

.container {
  width: 630;
  flex: 1;
  margin-top: 40;
}

.item {
  width: 630;
  min-height: 150;
  border-radius: 12;
  background-color: #ffffff;
  margin-bottom: 40;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.kind {
  width: 90;
  height: 50;
  border: 3 solid #6767fa;
  border-radius: 6;
  justify-content: center;
  align-items: center;
  
}

.kind_text {
  font-size: 28;
  color: #6767fa;
}

.content {
  width: 340;
  min-height: 130;
  flex-direction: column;
  align-items: flex-start;
}

.item_name {
  font-size: 28;
  color: #434343;
  font-weight: bold;
  text-overflow: ellipsis;
}

.item_teacher {
  font-size: 28;
  color: #434343;
  font-weight: bold;
}

.when_where_container {
  padding-top: 20;
}

.when_where {
  flex-direction: row;
  justify-content: space-between;
}

.when_where_text {
  color: #747474;
  font-size: 22;
}

.item_bt {
  width: 102;
  height: 50;
  background-color: #6767fa;
  border-radius: 6;
  justify-content: center;
  align-items: center;
}

.item_bt_text {
  font-size: 28;
  font-weight: bold;
  color: #ffffff;
}